<div class="text-center logo text-white p-4">
    <h1><span class="text-primary">St</span><span class="text-secondary">ud</span><span class="text-success">ie</span><span class="text-danger ">sA</span><span class="text-warning">pp</span></h1>
    <div class="infoText">
        <span class="text-info"><i>Alles in einer</i></span>
    </div>

</div>

<div class="container p-2">
    <router-outlet></router-outlet>
</div>

<br/>
<br/>

<footer class="border-top footer text-muted">
    <div class="text-center p-2 my-footer">
        &copy; 2022 - studiesApp
    </div>
</footer>